 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* ::::::::: Header  start ::::::::: */
    .castom-toggler {
        padding: 0px 0;
    }
    .menu {
        margin-right: 0;
        background-color: #fcf5ee;
        transition: .5s;
    }
    .menu ul li a {
        margin-top: 15px;
    }
    /* ::::::::: Header  end ::::::::: */




    /* ::::::::: Banner section  start ::::::::: */
    .banner {
        padding: 125px 0 45px;
    }
    .spa-img {
        display: none;
    }
    .banner-content span {
        margin-bottom: 0px;
        letter-spacing:0;
    }
    .banner-content h2 {
        margin-bottom: 4px;
        font-size: 30px;
        line-height: 42px;
    }
    .banner-content p {
        margin-bottom: 17px;
    }
    .common-btn {
        font-size: 14px;
        padding: 8px 15px;
    }
    .video-btn {
        margin-left: 6px;
    }
    .video-btn i {
        margin-right: 4px;
        height: 36px;
        width: 36px;
        line-height: 31px;
    }
    /* ::::::::: Banner section  end ::::::::: */



    /* ::::::::: About section start ::::::::: */
    section {
        padding: 30px 0;
    }
    .flower-1 {
        display: none;
    }
    .flower-2 {
        display: none;
    }
    .common-heading {
        margin-bottom: 15px;
    }
    .tagline {
        font-size: 17px;
        margin-bottom: 15px;
    }
    .common-title {
        font-size: 25px;
    margin-bottom: 12px;
    }
    /* ::::::::: About section end ::::::::: */
	
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px)  {

    /* ::::::::: Header  start ::::::::: */
    .castom-toggler {
        padding: 0px 0;
    }
    .menu {
        margin-right: 0;
        background-color: #fcf5ee;
        transition: .5s;
    }
    .menu ul li a {
        margin-top: 15px;
    }
    /* ::::::::: Header  end ::::::::: */



    /* ::::::::: Banner section  start ::::::::: */
    .banner {
        padding: 135px 0 67px;
    }
    .spa-img {
        display: none;
    }
    .banner-content span {
        margin-bottom: 0px;
        letter-spacing: 0.5px;
    }
    .banner-content h2 {
        margin-bottom: 4px;
        font-size: 44px;
        line-height: 59px;
    }
    .banner-content p {
        margin-bottom: 17px;
    }
    .common-btn {
        padding: 10px 27px;
    }
    .video-btn {
        margin-left: 10px;
    }
    .video-btn i {
        margin-right: 8px;
        height: 40px;
        width: 40px;
        line-height: 35px;
    }
    /* ::::::::: Banner section  end ::::::::: */




    /* ::::::::: About section start ::::::::: */
    .flower-1 {
        display: none;
    }
    .flower-2 {
        display: none;
    }
    .common-heading {
        margin-bottom: 40px;
    }
    .tagline {
        font-size: 19px;
        margin-bottom: 22px;
    }
    .common-title {
        font-size: 32px;
        margin-bottom: 20px;
    }
    /* ::::::::: About section end ::::::::: */
	
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px)  {
    /* ::::::::: Header  start ::::::::: */
    .menu {
        margin-right: 0;
        background-color: #fcf5ee;
        transition: .5s;
    }
    .menu ul li a {
        margin-top: 15px;
    }
    /* ::::::::: Header  end ::::::::: */



    /* ::::::::: Banner section  start ::::::::: */
    .banner {
        padding: 150px 0 80px;
    }
    .spa-img {
        display: none;
    }
    .banner-content span {
        margin-bottom: 10px;
    }
    .banner-content h2 {
        margin-bottom: 10px;
        font-size: 50px;
        line-height: 66px;
    }
    .banner-content p {
        margin-bottom: 25px;;
    }
    .common-btn {
        padding: 13px 35px;
    }
    /* ::::::::: Banner section  end ::::::::: */


     /* ::::::::: About section start ::::::::: */
     .flower-1 {
        max-width: 135px;
        left: 12%;
    }
    .flower-2 {
        display: none;
    }
    .common-heading {
        margin-bottom: 40px;
    }
    .tagline {
        margin-bottom: 22px;
    }
    .common-title {
        font-size: 40px;
        margin-bottom: 25px;
    }
    /* ::::::::: About section end ::::::::: */
	
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	/* ::::::::: Banner section  start ::::::::: */
    .banner {
        padding: 150px 0 110px;
    }
    .banner-content h2 {
        font-size: 50px;
    }
    /* ::::::::: Banner section  end ::::::::: */



    /* ::::::::: About section start ::::::::: */
    .flower-1 {
        max-width: 150px;
        left: 12%;
    }
    .flower-2 {
        top: 49%;
        right: 49px;
    }
    /* ::::::::: About section end ::::::::: */
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px)  {
	
}

 /*XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}